
.row{
    margin: 0 0 15px 0;
    
}

.section {
	border: ;
    margin-bottom: 15px;
	padding: 8px;
	list-style-type: square;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	width: 50%;
 }

ul.list-unstyled {
	display: table;
}
.itemList {
    list-style-type: square;
	width: 60%;
	font-size: small;
	min-height: 3em;
	margin: 2px;
	background: ;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	list-style-type: square;
	display: table-row;
}
li.itemList:before {
  content: "\25A0";
  padding-left: 1.5em;
}
.itemList b {
	display: table-cell;
    padding-right: 10px;
    padding-left: 5px;
}
.editor {
	border: 1px solid gray;
	position: absolute !important;
	z-index: 5;
	background: white;
}

.textarea-sm{
	width: 507px; height: 28px;
}

.textarea-lg{
	width: 511px; height: 100px;
}

.errors {
	height: 150px;
	overflow: auto;
}
