
.row{
    margin-bottom: 15px;
}

.section {
	border: 1px solid #ddd;
    margin-bottom: 15px;
	padding: 8px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	width: 95%;
 }

.itemList {
	width: 95%;
	min-height: 3em;
	margin: 2px;
	background: #eee;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.editor {
	border: 1px solid gray;
	position: absolute !important;
	z-index: 5;
	background: white;
}

.textarea-sm{
	width: 507px; height: 28px;
}

.textarea-lg{
	width: 511px; height: 100px;
}

.errors {
	height: 150px;
	overflow: auto;
}

.handle {
	cursor: move;
}